# ===============================
# AWS
# ===============================
.aws/
*.pem
*.key

# ===============================
# Terraform
# ===============================
.terraform/
*.tfstate
*.tfstate.backup
*.tfvars

# ===============================
# Python
# ===============================
__pycache__/
*.py[cod]
*.pyo

# ===============================
# Logs
# ===============================
*.log

# ===============================
# VS Code
# ===============================
.vscode/

# ===============================
# Operating System Files
# ===============================
.DS_Store
Thumbs.db
desktop.ini

# ===============================
# Environment Variables
# ===============================
.env
.env.*